.a {
    color: #140105;
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
}

.book {
    padding: 20px;
    margin: 10px;
    background-color: #f7f4f4;
}

.review {
        margin-left: 50px;
        font-size: 20px;
}