<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta http-equiv="refresh" content="1" charset="UTF-8"> -->
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} FlaskApp</title>
    <style>
        nav a {
            color: #080002;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .book {
            padding: 20px;
            margin: 10px;
            background-color: #f7f4f4;
        }

        .review {
                margin-left: 50px;
                font-size: 20px;
        }

    </style>
</head>
<body>
    <!-- <nav>
        <a href="{{ url_for('index') }}">Total Patients</a>
    </nav>

    <nav>
        <a href="{{ url_for('addpeople') }}">Add Person</a>
    </nav> -->

    <!-- <nav>
        <a href="{{ url_for('login') }}">Login</a>
    </nav> -->


    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>